$color-primary: #383838;
$color-secondary: #8c52ff;
$color-tertiary: #ffffff;
//
$font-larger-size:4.3rem;
$font-large-size:3.5rem;
$font-medium-size:3rem;
$font-medium-size-2:2.5rem;
$font-small-size:2rem;
$font-smaller-size:1.6rem;
$font-extra-smaller-size:1.4rem;
//
$font-bolder: 600;
$font-bold: 500;
$font-regular: 400;
$font-light: 300;
$font-lighter: 200;